<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header class="header">
        <div class="wrapper">
            <div class="header-wrapper">
                <div class="header-wrapper-left">
                    <div class="header-logo">
                        <a href="#" class="header-logo-link">Название салона</a>
                    </div>
                    <nav class="header-nav">
                        <ul class="header-list">
                            <li class="header-item"><a href="#" class="header-item-link">Рождественские подарки</a></li>
                            <li class="header-item"><a href="#" class="header-item-link">Новинки</a></li>
                            <li class="header-item"><a href="#" class="header-item-link">Цветы</a></li>
                            <li class="header-item"><a href="#" class="header-item-link">Растения</a></li>
                            <li class="header-item"><a href="#" class="header-item-link">Свадебные букеты</a></li>
                            <li class="header-item"><a href="#" class="header-item-link">День святого Валентина</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-wrapper-right">
                    <ul class="header-icons">
                        <li class="header-icon"><a href="#" class="header-icon-link"><img src="~/img/svg/bag-2.svg" alt="bag" class="header-icon-pic"></a></li>
                        <li class="header-icon"><a href="#" class="header-icon-link"><img src="~/img/svg/search-normal.svg" alt="search" class="header-icon-pic"></a></li>
                        <li class="header-icon"><a href="#" class="header-icon-link"><img src="~/img/svg/user.svg" alt="user" class="header-icon-pic"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>