@{
    ViewData["Title"] = "Главня";
}

<div class="home">
    <div class="wrapper">
        <section class="home-text">
            <h2 class="home-title">Букеты</h2>
            <p class="home-desc">Текст, посвящённый теме, с акцентом на комфорт и гармонию. Спокойный ритм и продуманная
                структура создают ощущение баланса. Элементы сочетаются между собой, не перегружая пространство. Чёткий
                стиль и аккуратное оформление подчёркивают целостность и эстетику. Каждая деталь дополняет общую
                концепцию.</p>
        </section>
        <section class="home-cards">
            <div class="bouquet">
                <div class="bouquet-cards">
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                </div>
                <div class="bouquet-cards">
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                </div>
                <div class="bouquet-cards">
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                </div>
                <div class="bouquet-cards">
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                </div>
            </div>
        </section>
        se
    </div>
</div>