@{
    ViewData["Title"] = "Главня";
    
}
@model List<FloristShop.Flower>

<div class="home">
    <div class="wrapper">
        <section class="home-text">
            <h2 class="home-title">Букеты</h2>
            <p class="home-desc">Текст, посвящённый теме, с акцентом на комфорт и гармонию. Спокойный ритм и продуманная
                структура создают ощущение баланса. Элементы сочетаются между собой, не перегружая пространство. Чёткий
                стиль и аккуратное оформление подчёркивают целостность и эстетику. Каждая деталь дополняет общую
                концепцию.</p>
        </section>
    </div>
    <section class="home-cards">
        <div class="wrapper">
            <div class="bouquet">
                <div class="bouquet-cards">
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">@Model[0].Name</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                </div>
                <div class="bouquet-cards">
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                </div>
                <div class="bouquet-cards">
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                </div>
                <div class="bouquet-cards">
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                    <div class="bouquet-card">
                        <div class="bouquet-card-pic">
                            <img src="~/img/svg/bof 117.svg" alt="Bouquet" class="bouquet-card-thumb">
                        </div>
                        <h3 class="bouquet-card-title">Название букета</h3>
                        <span class="bouquet-card-price">цена 2026р</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-promo">
        <div class="home-promo-content">
            <div class="wrapper">
                <h3 class="home-promo-title">Боль сама по себе — это любовь к страданию.</h3>
                <p class="home-promo-desc">
                    Текстовый блок используется в качестве временной заглушки для демонстрации структуры страницы. Он
                    помогает оценить внешний вид, типографику и расположение элементов интерфейса. Содержимое не несёт
                    смысловой нагрузки и будет заменено финальным текстом. Используется для проверки визуального
                    баланса, отступов и читабельности. Такой текст позволяет сосредоточиться на дизайне и общей
                    композиции страницы без отвлечения на содержание.
                </p>
            </div>
        </div>
    </section>
</div>