.home {
    padding-top: 48px;
}

.home-text {
    text-align: center;
}

.home-title {
    font-family: 'Alegreya';
    font-size: 60px;
    color: #1E1E1E;
    margin-bottom: 10px;
}

.home-desc {
    font-family: 'PT Sans';
    color: #717171;
    margin-bottom: 66px;
}

.bouquet-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 61px;
    margin-bottom: 48px;
}

.bouquet-cards:last-child {
    margin-bottom: 127px;
}

.bouquet-card {
    text-align: center;
}

.home-promo-content {
    background-image: linear-gradient(rgba(0,0,0,0.32),rgba(0,0,0,0.32)),
    linear-gradient(rgba(255,230,183,0.30),rgba(255,230,183,0.30)),
    url('/img/svg/home_promo_fon.svg');
    padding-top: 211px;
    padding-bottom: 211px;
    text-align: center;
}

.home-promo-title {
    font-family: 'Alegreya';
    font-size: 30px;
    color: white;
    margin-bottom: 53px;
}

.home-promo-desc {
    font-family: 'PT Sans';
    color: white;
    font-size: 17px;
    font-weight: bold;
    line-height: 35px;
    letter-spacing: 2%;
}